.color-especifico-approach{
    background-image: linear-gradient(to right bottom, #e7e6e4, #efe2c4, #f2dfa3, #f2dd82, #efdb5e);
}

.titlepproach{
    display: flex;
    color: $mainColor;
    justify-content: left;
    align-items: start;
    font-family: $poppinsFont;
    margin-left: -60px;
    margin-top: 80px;
    margin-bottom: 150px;

    .textapproach{
        display: flex;
        color: $mainColor;
        justify-content: center;
        align-items: start;
        font-family: $poppinsFont;
    }
}
