footer {
    font-family: $poppinsFont;
    padding: 20px;
    position: end;
    bottom: 0;
    left: 0;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
        
        .logo-container img {
            width: 40px; 
            margin: 0 10px;
        }
    
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 12px;
        opacity: 0.7;
        font-weight: 300;
        padding: 10px 0;
        color: #555;
    }
}
