nav {
    display: flex;
    align-items: center; 
    margin-top: 40px;
    font-family: $poppinsFont;
    color: $mainColor;

    .logo-img {
        max-width: 30px;
        }

    .mt-n1 {
        margin-left: 400px !important;
        }
        
    .logo-florenciaruiz{
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 60px;
        background-color: #FFEBF5;
        }
        
    .navlink{
        .active{
            position: relative;
        }

        & ::after{
            content:"\2022";
            display:block;
            text-align: center;
            font-size: 24px; 
            position: absolute;
            bottom: -12px; 
            left: 50%; 
            transform: translateX(-50%);
            width: 100%;
            color: $mainColor;
        }

    }

}

